.sidebar {
  background-color: var(--background-color);
  height: 100%;
  width: 240px;
  position: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s ease;
  padding: 15px 12px;
  top: 0px;
  left: 0px;
  z-index: 5;
}

.sidebar.inactive {
  width: 80px;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__header.inactive {
  justify-content: center;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.sidebar__logo-name {
  font-size: 20px;
  font-weight: bold;
}

.sidebar__logo-name:hover {
  cursor: pointer;
}

.sidebar__logo-icon {
  font-size: 20px;
}

.sidebar__header.inactive .sidebar__logo {
  display: none;
}

.sidebar__nav-icon {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 7px;
  padding: 15px 10px;
}

.sidebar__nav-icon:hover {
  cursor: pointer;
  background-color: white;
}

.sidebar__nav-icon:hover span {
  background-color: var(--background-color);
}

.sidebar__nav-icon span {
  display: block;
  background-color: white;
  width: 90%;
  height: 90%;
  height: 2px;
}

.sidebar__content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__content li {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 7px;
  text-transform: capitalize;
  position: relative;
  transition: all 0.3s ease;
}

li:has(.sidebar__content-link.inactive) {
  justify-content: center;
}

.sidebar__content li:hover {
  background-color: white;
  color: var(--background-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar__content li:hover .sidebar__content-link {
  color: var(--background-color);
}

.sidebar__content li .element-icon {
  width: 25px;
  height: 25px;
}

.sidebar__content li .sidebar__content-link {
  color: white;
  font-size: 18px;
  margin-left: 15px;
}

.sidebar__content li .sidebar__content-link.inactive {
  display: none;
}

li:has(.sidebar__content-link.inactive):hover::before {
  content: attr(data-after);
  position: absolute;
  left: 70px;
  background-color: white;
  color: var(--background-color);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.sidebar__profile-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: purple;
  height: 50px;
  padding: 15px 12px;
  border-radius: 7px;
}

.sidebar__profile-content.inactive {
  justify-content: center;
}

.sidebar__profile-image {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.sidebar__profile-image.inactive {
  transition: all 0.5s ease;
  display: none;
}

.sidebar__profile-info {
  font-size: 13px;
}

.sidebar__profile-info.inactive {
  display: none;
}

.sidebar__logout-icon {
  transform: rotate(180deg);
}

.sidebar__logout-icon.inactive {
  font-size: 20px;
}

.sidebar__logout-icon:hover {
  cursor: pointer;
}
