:root {
  --background-color: #11101d;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
